<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>부트스트랩 테이블</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
    <style type="text/css">
    *{
        font-family: "Do Hyeon", sans-serif;
    } </style>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <div class="container" style="margin: 60px auto;">
            <div style="display:flex;">
                <img src= "https://fund.chungbuk.ac.kr/resource/DATA/editor/202009/1600851730869CS4QU2.gif" width="100px" height="100px"></img>
                <h2 style="padding-top: 40px;">{{ restaurant_name }} 리뷰입니다!</h2>
            </div>
                <table class="table table-striped table table-hover" style="margin-top: 30px">
                    <thead class="table-dark border-dark" style="text-align: center;">
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">닉네임</th>
                            <th scope="col">리뷰</th>
                            <th scope="col">별점</th>
                        </tr>
                     </thead>
                <tbody class="table-group-divider" style="text-align: center;">
                {% if review_list %}
                {% for review in review_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter0|add:1 }}</th>
                        <td>{{ review.author_name }}</td>
                        <td>{{ review.content }}</td>
                        <td>{{ review.rating }}</td>
                    </tr>
                {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </a>
          </div>
</body>
<script>

</script>
</html>